.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  font-family: 'Eagle Lake', cursive;
}

.layout {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: right;
}

.home {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.addArticle {
  background-color: white;
}


.card-holder {
  width: calc(100%/6);
  border: 0 !important;
}

.inner-card {
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
  max-height: 580px;
  min-height: 580px;
}

.img-holder{
  border-radius: 15px;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  padding: 10px;
  border: 0;
}

.imgcards {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 0;
}


.myfooter {
  display: flex;
  justify-content: center;
}

.card-title {
  font-weight: 500 !important;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

.desc {
  height: 90px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  display:-webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

.box-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.box {
  width: 100%;
  height:280px;

}

.inner-box{
  overflow: hidden;
}

.boxs {
  padding: 20px;

}

.inner-box img {
  width: 100%;
  object-fit: cover;
}

.text {
  text-align: left;
  padding: 20px;
  background-color: rgb(248,249,250);
}

.viewHandle {
  display: flex !important;
  flex-direction: row;
}

.view-img {
  flex: 1;
}

.view-title {
  flex: 1;
  justify-self: end;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(241 0 0 / 90%);
  font-weight: 500;
}


.preview-img {
  height: 200px;
  box-shadow: 0px 0px 5px pink;
}

@media (max-width: 500px){
  .preview-img {
    width: 180px;
    height: auto;
    box-shadow: 0px 0px 5px pink;
  }
}